<html>
  
  <link href="grammar.css" rel="stylesheet" type="text/css">
  <script src="codemirror/lib/codemirror.js"></script>
  <link rel="stylesheet" href="codemirror/lib/codemirror.css">
  <script src="codemirror/mode/pegjs/pegjs.js"></script>

  <body>

    <div id="grammar_editor">
		
		<div id="main_editor" class="flex-container">
		
			<div id="grammar_container" class="flex-grammar">
                <label for="grammar_input">PEG Grammar
					<span id="result_indicator" class="no_match">no match</span>
				</label>
				<div id="grammar_input">
						<div class="richtext_container overflow_handler" id="richtext_grammar_container">
							<div class="richtext" id="richtext_grammar">
							</div>
						</div>
				</div>
			</div>

			<div id="test_result_container" class="flex-text">
				<label for="test_input">Test string</label>
				<div id="test_input" class="overflow_handler richtext_container">
					<div class="richtext" id="richtext_test">
					</div>
				</div>
			</div>
		
		</div>


		<div id="regex_treeview">
			<div id="treeview_content" class="flex-container">
                <div id="scroll_match" class="flex-elem">
                    <label for="test_string">Match information</label>
                    <div class="overflow_handler flex-grow">
                        <div id="match_info">Detailed match information will be displayed here automatically.</div>
                    </div>
                </div>
			</div>
		</div>

	
	</div>
        
    <script>
      var url = "ws://" + window.location.host + "/ws";
      var ws = new WebSocket(url);
      var name = "Guest" + Math.floor(Math.random() * 1000);
      var test_string_textarea = document.getElementById("test_string");
			var match_info = document.getElementById("match_info");
			var grammar_textarea = document.getElementById("grammar");

			var cm1 = CodeMirror(document.getElementById("richtext_grammar"), {
  			value: "function myScript(){return 100;}\n",
  			mode:  "pegjs"
			});
            var cm2 = CodeMirror(document.getElementById("richtext_test"), {
  			value: "function myScript(){return 100;}\n",
  			mode:  "pegjs"
			});

			var textMarker;
			textMarker = cm.markText({
        line: 1,
        ch: 2
    }, {
        line: 1,
        ch: 10
    }, {
        className: 'marked-text'
    });
    
    $('.marked-text').tooltip({
        title: 'This is a return statement',
        container: 'body',
        delay: { "show": 500, "hide": 100 },
        animation: false
    });

      ws.onmessage = function (msg) {
        match_info.innerText = msg.data;
      };
      grammar_textarea.onchange = function (e) {
				jmsg = JSON.stringify({ grammar: grammar_textarea.value, test_string: test_string_textarea.value })
        ws.send(jmsg);
      };

    </script>
  </body>
</html>