body.light.default #grammar_colors .caret {
  border-color: #282828;
}

body.light.default_light #grammar_colors .caret {
  border-color: #282828;
}

body.light {
  color: #282828;
  background: #ebebeb;
}

body.light #richtext_grammar_container,body.light #test_result_container .overflow_handler {
  background: #fff;
  color: #282828;
  border: 1px solid #afafaf;
}

body.light #result_indicator {
  background: rgba(0,0,0,.2);
  color: #fff;
}

body.light #version_container span {
  color: #aa0707;
}

body.light #subst_select,body.light .expander>span {
  color: #aaa;
}

body.light #subst_select:hover,body.light .expander:hover>span {
  color: #444 !important;
}

body.light #regex_treeview {
  border-color: #fff;
  background: #f7f7f7;
  -webkit-box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
  -moz-box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
  box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
}

body.light #scroll_match .overflow_handler,body.light #scroll_treeview .overflow_handler {
  border: 1px solid #ddd;
  background: #eee;
}

body.light #treeview_resizer:hover div {
  background: #ddd;
}

body.light #treeview_resizer:active div {
  background: #d0d7dd;
}

body.light input,body.light textarea {
  background: #fff;
  color: #282828;
  border: 1px solid #afafaf;
}

body.light #richtext_grammar_container,body.light #test_result_container .overflow_handler,body.light input:not([data-focus]),body.light textarea:not([data-focus]) {
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

body.light input:not([data-focus]):active,body.light input:not([data-focus]):focus,body.light textarea:not([data-focus]):active,body.light textarea:not([data-focus]):focus {
  border-color: #698fd1 !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1) ,0 0 5px rgba(27,93,173,.3) !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1) ,0 0 5px rgba(27,93,173,.3) !important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1) ,0 0 5px rgba(80,167,230,.5) !important;
}

body.light ::-webkit-input-placeholder {
  color: #bbb;
}

body.light :-moz-placeholder {
  color: #666;
}

body.light ::-moz-placeholder {
  color: #666;
}

body.light :-ms-input-placeholder {
  color: #bbb;
}

body.light .placeholder {
  color: #bbb;
}

body.light select {
  background: #eee;
  border: 1px solid #aaa;
  color: #282828;
}

body.light input[type="checkbox"]:checked+.design_label,body.light input[type="radio"]:checked+.design_label {
  color: #2d97e6 !important;
}

body.light .label,body.light label {
  color: #000;
  border-color: #ccc !important;
}

body.light .treeview .name {
  background: #c5ea8e;
  color: #195536;
}

body.light .match_99:before {
  border-left: 1px dotted #7e00ff;
}

body.light .match0 {
  color: #0066b3;
  background-color: #c6e3ff;
}

body.light .match0_2 {
  color: #00467a;
  background-color: #74c4ff;
}

body.light .match1 {
  color: #124f46;
  background-color: #c6e99d;
}

body.light .match2 {
  color: #7e251e;
  background-color: #f5aba5;
}

body.light .match3 {
  color: #814a03;
  background-color: #ffbf6d;
}

body.light .match4 {
  color: #43568d;
  background-color: #c1cbeb;
}

body.light .match5 {
  color: #0d6e2b;
  background-color: #d7fde3;
}

body.light .match6 {
  color: #667f48;
  background-color: #e3ffac;
}

body.light .match7 {
  color: #463f47;
  background: #e88dee;
}

body.light .match8 {
  color: #494b41;
  background: #cfdd67;
}

body.light .match9 {
  color: #7f3d4d;
  background-color: #ffacc0;
}

body.light .match10 {
  color: #3e4345;
  background-color: #84d6ee;
}

body.light ::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0,0,0,.05);
}

body.light ::-webkit-scrollbar:horizontal {
  height: 7px;
}

body.light ::-webkit-scrollbar:hover {
  background-color: rgba(0,0,0,.19);
}

body.light ::-webkit-scrollbar-thumb:horizontal,body.light ::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,.5);
}

body.light ::-webkit-scrollbar-thumb:horizontal:active,body.light ::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,.61);
}

* html .snippet-wrap,:first-child+html .snippet-wrap {
  display: inline-block;
}

* html .snippet-wrap .snippet-hide,:first-child+html .snippet-wrap .snippet-hide {
  bottom: 25px;
}

* html .snippet-wrap pre.snippet-formatted,:first-child+html .snippet-wrap pre.snippet-formatted {
  padding: 2em 1em;
}

* html .snippet-wrap .snippet-num li.box,:first-child+html .snippet-wrap .snippet-num li.box {
  margin-left: -2.4em;
}

* html .snippet-wrap .snippet-num li .box-sp,:first-child+html .snippet-wrap .snippet-num li .box-sp {
  width: 27px;
}

#label_container {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding: 0 5px;
}

.expander,.expander>span {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
  user-select: none !important;
}

.expander>span {
  float: right;
  line-height: 30px;
  vertical-align: middle;
  font-size: 16px !important;
  margin-right: 5px;
  font-weight: 700;
  display: inline-block;
}

.expander {
  cursor: pointer;
}

#grammar_colors .caret {
  border-left: 1px solid transparent;
  overflow: hidden;
  display: inline;
  position: absolute;
  z-index: 999999;
}

#test_color_element span {
  white-space: pre-wrap;
}

#grammar_container #version_container {
  display: inline-block;
}

#grammar_container #version_container span {
  font-size: 10px;
  margin-left: 1px;
}

#grammar_container #version_selector {
  vertical-align: text-bottom;
  width: 110px;
}

#grammar_container #result_indicator {
  float: right;
  padding: 0 10px;
  font-weight: 400;
  text-transform: none;
  font-size: 12px;
  font-variant: small-caps;
  height: 24px;
  line-height: 24px;
  margin: 3px 1px 0 0;
}

#grammar_container #grammar_input {
  margin-bottom: 10px;
}

#grammar_container #grammar_input .richtext_padding {
  padding: 0 120px 0 20px;
}

#grammar_container #grammar_input .richtext_right {
  float: right;
  width: 150px;
}

#grammar_container #grammar_input #richtext_grammar_container {
  overflow-y: auto;
  max-height: 170px;
}

@media only screen and (min-height:700px) {
  #grammar_container #grammar_input #richtext_grammar_container {
    max-height: 250px;
  }
}

@media only screen and (min-height:850px) {
  #grammar_container #grammar_input #richtext_grammar_container {
    max-height: 350px;
  }
}

@media only screen and (min-height:1000px) {
  #grammar_container #grammar_input #richtext_grammar_container {
    max-height: 450px;
  }
}

#subst_parent {
  margin-top: 10px;
}

#subst_container {
  display: none;
}

#subst_result {
  background: inherit;
  width: 100%;
  border: 0;
  resize: none;
  outline: 0;
  height: 100%;
  padding: 5px;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.flex-elem,.flex-grammar,.flex-text {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 100%;
}

.flex-elem {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-grammar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.flex-text {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
}

.flex-elem {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
}

.flex-grow {
  position: absolute;
  top: 37px;
  left: 0;
  bottom: 0;
  right: 0;
}

.subst_enabled #subst_container {
  display: block !important;
}

#grammar_editor {
  height: 100%;
  width: 100%;
}

#grammar_editor #main_editor {
  width: 60%;
  float: left;
  padding: 10px;
}

#richtext_grammar_container,#test_result_container .overflow_handler {
  font-size: 0;
}

#grammar,#richtext_test_colors,#richtext_test_size,.colorizer_height {
  color: black;
}

.richtext_container {
  overflow: auto;
  height: 100%;
}

#richtext_test_colors,#richtext_test_size,.regex_colorizer,.richtext_container {
  letter-spacing: 1px;
}

.richtext {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.richtext #grammar_colors,.richtext #richtext_test_colors {
  position: absolute;
  top: 0;
  min-height: 50px;
}

.richtext #richtext_test_colors span {
  padding: 0 !important;
  color: transparent;
}

.richtext pre,.richtext textarea {
  resize: none !important;
  outline: 0 !important;
  margin: 0 !important;
  padding: 5px !important;
  border: 0 !important;
  width: 100% !important;
  font-weight: 400 !important;
  font-style: normal !important;
  overflow: scroll !important;
}

.richtext textarea {
  height: 100% !important;
  z-index: 800 !important;
  background: transparent !important;
  position: absolute !important;
  top: 0 !important;
}

@media only screen and (max-width:1200px) {
  #content {
    margin-left: 70px !important;
  }

  label[for="small_menu"] {
    display: none !important;
  }
}

#subst_parent label {
  margin-bottom: 0;
}

.match0,.match0_2,.match1,.match10,.match2,.match3,.match4,.match5,.match6,.match7,.match8,.match9 {
  padding: 1px 2px;
}

.match_99 {
  position: absolute;
}

.match_99:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  content: '';
}

#regex_treeview {
  height: 100%;
  width: 40%;
  overflow: auto;
  border-left: 1px solid transparent;
}

#treeview_resizer {
  float: left;
  height: 100%;
  width: 6px;
  padding: 0 2px 0 1px;
  cursor: ew-resize;
}

#regex_treeview.treeview_hidden {
  width: 11px !important;
}

#regex_treeview.treeview_hidden #treeview_content {
  display: none !important;
}

#main_editor.treeview_hidden {
  width: calc(100% - 11px) !important;
}

#treeview_resizer div {
  height: 100%;
}

#treeview_content {
  width: auto;
  padding: 10px 10px 10px 0;
}

#scroll_match .overflow_handler,#scroll_treeview .overflow_handler {
  padding: 5px;
}

#scroll_match,#scroll_treeview {
  position: relative;
}

#scroll_match {
  margin: 10px 0;
}

#scroll_match.info_hidden .overflow_handler,#scroll_treeview.info_hidden .overflow_handler {
  display: none;
}

#scroll_match.info_hidden,#scroll_treeview.info_hidden {
  height: 30px;
}

.treeview {
  padding: 0;
  margin: 0;
  list-style: none;
}

.treeview {
  margin-bottom: 5px;
}

.treeview .name {
  padding: 0 3px;
  font-family: Monaco,Consolas,'Lucida Console',monospace;
}

body {
  font-family: 'Open Sans',"Lucida Sans Unicode","Lucida Grande",sans-serif;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

body,html {
  height: 100%;
}

pre {
  margin: 0;
  padding: 0;
}

input,textarea {
  letter-spacing: 1px;
}

input,select,textarea {
  padding: 5px;
  outline: 0;
  border: 0;
  margin: 0;
}

select {
  font-size: 12px;
  padding: 2px;
}

#content {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
}

#content {
  margin-left: 190px;
}

#treeview span,.richtext pre,.richtext textarea {
  -ms-word-break: break-all;
  -ms-word-wrap: break-word;
  wrap-word: break-word;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

#treeview span {
  word-break: normal;
}

#match_string,.richtext pre,input,select,textarea {
  font-family: Monaco,Consolas,'Lucida Console',monospace;
}

#grammar,.box_overflow_fix,.label_parent,.richtext,.richtext pre,.richtext textarea,.richtext_container {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

input[type="checkbox"],input[type="radio"] {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  visibility: hidden;
}

input[type="checkbox"]:checked+.design_label span,input[type="radio"]:checked+.design_label span {
  background-image: url(https://regex101.com/gfx/xcheck_radio_sheet.png.pagespeed.ic.EvKtlyvmNj.webp);
  background-repeat: no-repeat;
}

input[type="radio"]:checked+.design_label span {
  background-position: -57px top;
}

input[type="checkbox"]:checked+.design_label span {
  background-position: -19px top;
}

.label,label:not(.design_label) {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  font-weight: 100;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.label .right {
  float: right;
}

::selection {
  background: rgba(77,145,226,.3);
}

::-moz-selection {
  background: rgba(77,145,226,.3);
}

.text_overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#label_container,#match_string,.richtext pre,.richtext textarea,input,textarea {
  font-size: 14px;
}

#regex_treeview {
  font-size: 13px;
}

.overflow_handler {
  overflow: auto;
}