html {
  height: 100%;
}

body {
  font-family: 'Open Sans',"Lucida Sans Unicode","Lucida Grande",sans-serif;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  height: 100%;
  color: #282828;
  background: #ebebeb;
  border-color: #282828;
  box-sizing: border-box !important;
}

label {
  color: #000;
  border-color: #ccc !important;
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  font-weight: 100;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 5px;
  border-bottom: 1px solid transparent;
}

div {
  box-sizing: border-box;
}

#editor {
  /** Setting height is also important, otherwise editor wont showup**/
  height: 300px;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px;
}

.rule_tooltip {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
    border: 1px solid gray;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: black;
    max-width: 100%;
    padding: 3px 4px;
    position: absolute;
    z-index: 999999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    white-space: pre;
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    pointer-events: none;
}

.mark_bracket1 { border:2px solid green; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 9;}
.mark_bracket2 { border:1px solid lightseagreen; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 8;}
.mark_bracket3 { border:1px solid lawngreen; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 7;}
.mark_bracket4 { border:1px solid blue; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket5 { border:1px solid steelblue; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket6 { border:1px solid blueviolet; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket7 { border:1px solid darkviolet; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket8 { border:1px solid indianred; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket9 { border:1px solid orangered; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket10 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket11 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket12 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket13 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket14 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket15 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket16 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket17 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket18 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket19 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}
.mark_bracket20 { border:1px solid gray; border-radius:4px; margin: -1px 0 0 -1px; position: absolute; z-index: 6;}

#desk {
  height: 100%;
  width: 100%;
}

#main_desk {
  width: 60%;
  float: left;
  padding: 10px;
}

#richtext_grammar_container {
  overflow-y: auto;
  max-height: 170px;
  /*font-size: 0;*/
}

@media only screen and (min-height:700px) {
  #richtext_grammar_container {
    max-height: 250px;
  }
}

@media only screen and (min-height:850px) {
  #richtext_grammar_container {
    max-height: 350px;
  }
}

@media only screen and (min-height:1000px) {
  #richtext_grammar_container {
    max-height: 450px;
  }
}

#richtext_grammar_container,#test_container .overflow_handler {
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#result_indicator {
  background: rgba(0,0,0,.2);
  color: #fff;
  float: right;
  padding: 0 10px;
  font-weight: 400;
  text-transform: none;
  font-size: 12px;
  font-variant: small-caps;
  height: 24px;
  line-height: 24px;
  margin: 3px 1px 0 0;
}

.richtext_container {
  overflow: auto;
  height: 100%;
  letter-spacing: 1px;
}

.richtext {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  font-family: Consolas,Monaco, Menlo, "Ubuntu Mono",'Lucida Console', source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
}

.scroll_y {
  overflow-y: scroll !important;
  /*position: absolute !important;*/
}
#richtext_test {
   min-height: 55%;
}

#info_desk {
  border-color: #fff;
  background: #f7f7f7;
  -webkit-box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
  -moz-box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
  box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
  height: 100%;
  width: 40%;
  /*overflow: auto;*/
  border-left: 1px solid transparent;
  font-size: 13px;
  padding: 10px 10px 10px 0;
}

#output_container {
  position: relative;  
  margin: 10px 0;
}

#richtext_output_container {
  padding: 5px;
  border: 1px solid #ddd;
  background: #eee;
  margin-left: 5px;
  margin-top: 5px;
}

.overflow_handler {
  background: #fff;
  color: #282828;
  border: 1px solid #afafaf;
  overflow: auto;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.flex-elem,.flex-grammar,.flex-text {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 100%;
}

.flex-elem {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 0 auto;
  position: relative;
}

.flex-grammar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}

.flex-text {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 0 0 auto;
  position: relative;
}


.flex-grow {
  position: relative;
  top: 37px;
  left: 0;
  bottom: 0;
  right: 0;
}

::selection {
  background: rgba(77,145,226,.3);
}

::-moz-selection {
  background: rgba(77,145,226,.3);
}
body ::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0,0,0,.05);
}

body ::-webkit-scrollbar:horizontal {
  height: 7px;
}

body ::-webkit-scrollbar:hover {
  background-color: rgba(0,0,0,.19);
}

body ::-webkit-scrollbar-thumb:horizontal,body.light ::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,.5);
}

body ::-webkit-scrollbar-thumb:horizontal:active,body.light ::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,.61);
}

.marked-text {
    /* background: red;     */
}
.marked-text:hover {
    border: 1px solid red;
}